.section-sidebar__sidebar-list {
    display: flex;
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin-top: 166px;
}

.sidebar-list__sidebar-item {
    width: 360px;
    margin-bottom: 238px;
    padding-top: 45px;
    padding-bottom: 20px;
    background: rgb(32, 42, 60);
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
}

.sidebar-list__sidebar-item~.sidebar-list__sidebar-item {
    margin-left: 30px;
}

.sidebar-list__sidebar-item-first {
    width: 360px;
    margin-right: 28px;
    margin-bottom: 238px;
    padding-top: 45px;
    padding-bottom: 20px;
    background: rgb(32, 42, 60);
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
}

.sidebar-list__sidebar-item-first::before {
    background-image: url(../../img/sec-bg.svg);
    content: "";
    display: block;
    background-position: calc(50% + 7px) calc(50% - -1px);
    background-repeat: no-repeat;
    width: 65px;
    height: 50px;
    margin-top: -68px;
    margin-left: -46px;
}

.sidebar-item__sidebar-text {
    margin: 0;
    margin-left: 41px;
    font-family: 'OpenSans';
    width: 285px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.7px;
}

.sidebar-account {
    width: 195px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-account__account-img {
    width: 30px;
    height: 30px;
    margin-left: 37px;
}

// .account-box {}
.account-box-text {
    margin: 0;
    padding-bottom: 10px;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.account-box-title {
    margin: 0;
    font-family: 'OpenSans';
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.571429px;
}